*,
*::before,
*::after {
	box-sizing: border-box !important; 
}

body {
	margin: 0;
	padding: 0;

	background: hsl(0 0% 70%);
}

canvas {
	transform: rotate(180deg);
}

.container {
	position: relative;

	margin: 5rem auto;
	max-width: 800px;

	background: white;
}

.card {
	padding: 15px;

	border-radius: 5px;
	box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.4);
}